<mat-nav-list  style="width: 50vw; margin:auto;margin-top: 2vh;">
  <h3 matheader><strong>Video Uploader</strong></h3>
  
  <a matLine href=""><mat-list-item>
    <button mat-icon-button>
      <mat-icon>home</mat-icon>
   </button>
    Home
 </mat-list-item>
  </a>

  <a matLine href="/videoupload">
  <mat-list-item>
    <button mat-icon-button>
      <mat-icon>personal_video</mat-icon>
   </button>
    Video Uploader 1
 </mat-list-item>
  </a>

  <a matLine href="/videochunk">
    <mat-list-item>
    <button mat-icon-button>
      <mat-icon>video_label</mat-icon>
   </button> 
  Video Uploader 2
</mat-list-item>
</a>

</mat-nav-list>

  <br>
  <br>
  

<router-outlet></router-outlet>